@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* main background */
  --Very-Dark-Blue: hsl(233, 47%, 7%);
  /* card background */
  --Dark-Desaturated-Blue: hsl(244, 38%, 16%);
  /* accent */
  --Soft-Violet: hsl(277, 64%, 61%);
  /* transparent overlay */
  --Transparent--Soft-Violet: hsla(277, 64%, 61%, 0.4);
  /* main heading, stats */
  --White: hsl(0, 0%, 100%);
  /* main paragraph */
  --Transparent-White-main: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --Transparent-White-Secondary: hsla(0, 0%, 100%, 0.6);

  /* Base font size */
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--Very-Dark-Blue);
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--Dark-Desaturated-Blue);
  display: grid;
  grid-template-areas:
    "one"
    "two";
  max-width: 327px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  text-align: center;
  padding: 0 2rem;
}

.hero {
  position: relative;
  grid-area: one;
}

.hero__image--overlay {
  background-color: var(--Transparent--Soft-Violet);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px 10px 0 0;
}

.hero__image {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.hero__image--desktop {
  display: none;
}

.card__title {
  margin-top: 2.67rem;
  color: var(--White);
  font-size: 1.87rem;
  line-height: 2.13rem;
  font-weight: 700;
  grid-area: two;
}

.card__title--highlight {
  color: var(--Soft-Violet);
}

.card__text {
  color: var(--Transparent-White-main);
  line-height: 1.6rem;
  margin-bottom: 0;
}

.card__stats {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  margin-top: 2.67rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding-left: 0;
  color: var(--Transparent-White-Secondary);
  text-transform: uppercase;
}

.card__stats li {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.card__stats span {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: hsl(228, 45%, 44%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
  .card {
    margin: 0 auto;
    grid-template-areas:
      "two one"
      "two one";
    grid-template-columns: 51.3% 1fr;
    max-width: 1110px;
    border-radius: 10px;
  }

  .card__content {
    margin: 0;
    padding: 0;
    text-align: left;
    align-self: center;
    padding-left: 4.8rem;
  }

  .card__title {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    line-height: 2.9rem;
    padding-top: 2.8rem;
    padding-right: 8rem;
  }

  .card__text {
    padding-top: 0.67rem;
    padding-right: 8.27rem;
  }

  .hero__image--mobile {
    display: none;
    border-radius: 0 10px 10px 0;
  }

  .hero__image--desktop {
    display: block;
    border-radius: 0 10px 10px 0;
    width: fit-content;
    height: 100%;
  }

  .hero__image--overlay {
    border-radius: 0 10px 10px 0;
  }

  .card__stats {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4.8rem;
    padding-right: 9.87rem;
    padding-left: 4.8rem;
    padding-bottom: 4.46rem;
  }

  .card__stats span {
    padding-bottom: 0.5rem;
  }

  .card__stats li {
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
