@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --Soft_blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --Main_BG: hsl(217, 54%, 11%);
  --Card_BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--Main_BG);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--Card_BG);
  width: 90%;
  max-width: 375px;
  border-radius: 20px;
  padding: 1.5rem 1.5rem;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

.card a,
.card a:visited {
  text-decoration: none;
  color: var(--White);
}

.card a:hover {
  color: var(--Cyan);
}

.card__content {
  width: 100%;
  margin: 0 auto;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card__title {
  color: var(--White);
  font-weight: 600;
  font-size: 1.2rem;
}

.card__text {
  color: var(--Soft_blue);
  font-size: 1rem;
  font-weight: 300;
}

.card__stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px groove var(--line);
}

.card__stats img {
  margin-right: 0.5rem;
}

.card__price {
  color: var(--Cyan);
  display: flex;
  align-items: center;
}

.card__time {
  color: var(--Soft_blue);
  display: flex;
  align-items: center;
}

.card__creator {
  color: var(--Soft_blue);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.card__avatar {
  border: 2px solid var(--White);
  border-radius: 50%;
  width: 2.2rem;
  margin-right: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
